$font-family-nav:'IBM Plex Mono', monospace;
$font-family-titulo:'IBM Plex Sans', sans-serif;
$font-family-titulo2:'IBM Plex Sans-SemiBold', sans-serif;
$font-color-nav:#060A24;
$font-color-nav-hover:#00F3BB;
$font-color-blue:#0000EC;
$font-color-nav-active:rgba(6,10,36,0.56);
$font-color-white:#ffffff;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}

.navegador{
    width: 90%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .imagen_logo{
        width: 36px;
        height: 30px;
    }
    .img_menu, .img_cruz, input{
        display: none;
    }
    ul{
        display: flex;
        li{
            list-style: none;
            a{
                font-family: $font-family-nav;
                text-decoration: none;
                color:$font-color-nav;
                line-height: 28px;
                padding:20px;
                &:hover{
                    text-decoration: line-through;
                    color:$font-color-nav-hover;
                }
                &:active{
                    text-decoration: line-through;
                    color:$font-color-nav-active;
                }
            }

        }
    }
}

.inicio{
    margin:100px 0px 0 200px;
    .titulo{
        font-family: $font-family-titulo;
        font-size: 64px;
        color: #060A24;
        letter-spacing: 0;
        .texto-tachado{
            text-decoration:line-through;
        }
        .punto-azul{
            color: #0000EC;
        }
    }
    .texto-titulo, .texto-media-query{
        width:55%;
        font-family: $font-family-nav;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
    }

    .texto-media-query{
        display:none;
    }

    .boton{
        border:none;
        background-color:$font-color-nav-hover;
        margin-top:60px;
        padding:15px 0 15px 0;
        &:hover{
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        }
        a{
            text-decoration:none;
            padding:15px 60px 15px 60px;
            &:hover{
                color:$font-color-white;
            }
        }
    }

}

.episodios{
    .paralelogramo{
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        .subtitulo-episodios{
            color: #fff;
            padding: 180px 0 0 200px;
            font-family: $font-family-titulo;
            font-size:48px;
            font-weight: 300;
        }
        .tarjetas{
            width: 100%;
            padding-bottom: 200px;
            .spotify{
                width:540px;
                height:240px;
                margin:30px;
            }
        }
    }
}

.seccion_celular{
    display: flex;
    justify-content: center;
    .celular{
        transform: translateY(-140px);
        width: 350px;
    }
    .texto{
        margin: 60px;
        .phone_subtitulo{
            font-family: $font-family-titulo;
            font-size: 48px;
            color: #060A24;
            letter-spacing: 0;
            margin-bottom: 20px;
        }
        .phone_texto{
            width:464px;
            font-family: $font-family-nav;
            font-size: 16px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 24px;
            margin-bottom: 15px;
        }
    }
}

.seccion_fotos{
    width: 100%;
    .fotos_subtitulos{
        width: 100%;
        font-family: $font-family-titulo;
        margin: 0 0 40px 180px;
        font-size:48px;
    }
    .galeria_fotos{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // .fotografias{
        //     width:200px;
        // }
    }
}

.temas{
    .temasSubtitulo{
        font-family: $font-family-titulo;
        font-size: 48px;
        color: #060A24;
        letter-spacing: 0;
        margin: 40px 0 40px 180px;
    }
    .centrarTarjetas{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        }
        .tarjetas{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .textoTarjeta{
            margin: 20px;
            height: 60px;
            font-family: $font-family-titulo2;
            font-size: 24px;
            text-align: center;
            
        }
    }




// ------  ------  ------ MEDIA QUERIES  ------  ------  ------
// ------  ------  ------ MEDIA QUERIES  ------  ------  ------
// ------  ------  ------ MEDIA QUERIES  ------  ------  ------

@media (max-width:769px){
    .navegador{
        width: 100%;
        .imagen_logo, .img_menu{
            margin: 0 30px 0 30px;
        }
        .img_menu{
            display: block;
        }
        ul{
            display: none;    
        }
        #hamburguesa:checked ~ ul{
            width: 100%;
            display:block;
            position: absolute;
            margin-top:260px;
            background-color:$font-color-blue;
            li{
                margin: 16px;
                a{
                   color: $font-color-white;
                }
            }
        }
        #hamburguesa:checked ~ .img_cruz {
            display: block;
            margin: 0 30px 0 30px;
        }
        #hamburguesa:checked ~ .img_menu {
            display: none;
        }
    }

    .inicio{
        margin: 0px;
        .titulo{
            padding: 10px;
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
        }

        .texto-titulo{
            display: none;
        }

        .texto-media-query{
            width: 100%;
            display: block;
            padding: 10px;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
        }
        .boton{
            width:90%;
            margin:20px 5%;
        }
    }
        
    .episodios{
        .paralelogramo{
            clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
            .subtitulo-episodios{
                font-size: 36px;
                padding:70px 0 10px 20px;
            }
            .tarjetas{
                .spotify{
                    width:298px;
                    height:225px;
                    margin: auto;
                }
            }
        }
    }

    .seccion_celular{
        display: flex;
        flex-direction: column;
        .celular{
            width: 100%;
        }
        .texto{
            width: 90%;
            margin: 10px;
            .phone_subtitulo{
                font-size: 36px;
                margin-bottom: 10px; 
            }
            .phone_texto{
                width: 268px;
                font-size: 14px;
            }
        }
    }
    .seccion_fotos{
        width: 100vh;
        .fotos_subtitulos{
            font-family: $font-family-titulo;
            margin-left: 40px;
            font-size:48px;
        }
        .galeria_fotos{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}